Source: notas
Section: python
Priority: optional
Maintainer: Gabriel Acosta, <email@address>
Build-Depends: debhelper (>= 9),
               python3-all
Standards-Version: 3.9.2



Package: notas
Architecture: all
Section: python
Depends: ${python3:Depends}, ${misc:Depends}
Description: short description
 A long description goes here.
 .
 It can contain multiple paragraphs
